# vim: ft=yaml softtabstop=2 tabstop=2 shiftwidth=2 expandtab autoindent

gogs:
  download_url: 'https://cdn.gogs.io/0.11.4/linux_amd64.tar.gz'
  hash: '06577af116ce6f1225cc3056e3fe36b3fa6bb0f9'
  home_dir: /opt/gogs/git
  logs_dir: /var/log/gogs
  groups: []
  config:
    main:
      run_user: git
      run_mode: prod

    database:
      db_type:  sqlite3
      host:     127.0.0.1:3306
      name:     gogs
      user:     root
      passwd:   ''
      ssl_mode: disable
      path:     /opt/gogs/git/data/gogs.db

    repository:
      root: /opt/gogs/git/repositories

    server:
      domain: localhost
      http_port: 3000
      root_url: http://localhost:3000

    session:
      provider: file

    log:
      mode: console
      level: Info
